<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="6.6.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.74.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.74.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.74.0" targetFramework="net472" />
  <package id="Google.Apis.Drive.v3" version="1.74.0.4135" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.70.0.3819" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.3967.48" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
</packages>